canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #27b387;
}

.text {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
  max-width: 90%;
  padding: 2em 3em;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

a,
a:visited {
  color: #e34234;
  transition: 0.25s;
}

a:hover,
a:focus {
  color: #ba160c;
}


/* MON CSS */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'SegoeUI', serif;
  font-size: 14px;
  font-weight: normal;
  background-blend-mode: luminosity;
}

.container {
  width: 100%;
}
.container::after {
  content: "";
  display: table;
  clear: both;
  overflow: visible;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.wrapper img{
  position: relative;
  top: 8px;
  height: 100px;
  width: 90px;
  margin-left: 25px;
}
.wrapper::after {
  content: "";
  display: table;
  clear: both;
  overflow: visible;
}

a {
  color: inherit;
  text-decoration: none !important;
}
a:hover {
  outline: none;
}

.cropped {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px 1px 1px 1px);
          clip-path: inset(1px 1px 1px 1px);
  top: -9999px;
  left: -9999px;
}


.navigation .nav-item {
  display: inline-block;
  margin-left: 20px;
}
.navigation .nav-item a {
  display: block;
  position: relative;
  padding: 11px 18px;
  font-family: 'SegoeUI-Bold', serif;
  font-size: 1em;
  color: #000604 !important;
  text-transform: uppercase;
  transition: color 0.3s;
}
.navigation .nav-item a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000604;
  opacity: 0;
  transition: opacity 0.3s;
}
.navigation .nav-item:hover a, .navigation .nav-item.current a {
  color: #000604;
}
.navigation .nav-item:hover a::after, .navigation .nav-item.current a::after {
  opacity: 1;
}

/**
 * Header
 **/


.page-header .site-logo::after {
  display: none;
}
.page-header .main-navigation {
  position: absolute;
  float: left;
  left: 65%;
  top: 23px;
}
.btn{
  background-color: transparent;
}
.descript{
  position: absolute;
  top: 55px;
}

/* Formulaire */
.formulaire {
  top: -20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="email"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.input-file-container {
    position: relative;
    width: 225px;
    }
    .input-file-trigger {
        display: block;
        padding: 14px 45px;
        background: #39D2B4;
        color: #fff;
        font-size: 1em;
        transition: all .4s;
        cursor: pointer;
    }



#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* MON CSS fin*/
